footer {
    background: #221D1D;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    span {
        color: white;
    }
    figure {
        img {
            width: 35px;
        }
    }
}

header {
    display: flex;
    align-items: center;
    background-color: #221D1D;
    padding: .7em 2em;
    figure {
        img {
            width: 115px;
        }
    }
    .general-search {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        input {
            width: 50%;
            padding: .6em;
            border-radius: 3px;
        }
        .search-box {
            position: absolute;
            top: 0;
            left: 56vw;
            .btn-sbm {
                opacity: 0;
            }
            figure {
                position: absolute;
                top: 15%;
                left: 0;
                img {
                    width: 30px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .general-search {
        width: 75vw !important;
        input {
            width: 50% !important;
        }
        .search-box {
            left: 65% !important;
        }
    }
}