.characters{
  width: 80vw;
  .header-characters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
    .titles{
      display: flex;
      align-items: center;
      span{
        font-weight: bold;
      }
      figure{
        img{
          height: 25px;
        }
      }
    }
  }
}
.body-characters{
  margin-top: 1em;
}
.character{
  background: white;
  margin: 1em 1em 1em 5%;
  padding: .5em;
  .aux-box {
    position: relative;
    min-height: 25vh;
    .bx-1{
      display: flex;
      position: absolute;
      top: -15%;
      left: -5%;
      figure{
        img{
          border-radius: 50%;
        }
      }
      .info{
        margin-left: 1em;
        button{
          background: #ee1e23;
          color: white;
        }
      }
    }
  }
  
  .related{
    padding: 1em;
  }
}

.footer-characters{
  display: flex;
  justify-content: center;
}

.comic-rel-name{
  cursor: pointer;
}

.random-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  i{
    cursor: pointer;
  }
}