<section class="favorites-box">
  <div class="header-fav">
    <figure>
      <img src="marvelAppGrability/dist/assets/icons/favourites.png" alt="Favourites">
    </figure>
    <span>My Favourites</span>
  </div>
  <div class="body-fav" ng-repeat="comic in $ctrl.favorites">
    <div class="comic-box">
      <figure>
        <img ng-src="{{comic.thumbnail.path}}.jpg" alt="{{comic.title}}" width="150" height="250">
      </figure>
      <div class="description">
        <p>
          {{comic.description}}
        </p>
      </div>
      <figure class="trash" ng-click="$ctrl.deleteFavorite($index)">
        <img src="marvelAppGrability/dist/assets/icons/btn-delete.png" alt="delete">
      </figure>
    </div>
  </div>
</section>